.filters-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-section {
  margin-bottom: 20px;
  padding: 0 10px;
}

form,
.filter-row {
  display: flex;
  align-items: center;
}

.filter-row:not(:last-child) {
  margin-right: 20px;
}

.filter-row label {
  margin-right: 5px;
}

.filter-row select,
.filter-row input {
  padding: 3px 5px;
  border: 1px solid black;
  height: 25px;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .filters-title {
    text-align: center;
    margin-bottom: 10px;
  }

  form {
    flex-direction: column;
    padding: 0 20px;
  }

  .form-section {
    width: 100%;
    padding: 0;
  }

  .filter-row {
    width: 100%;
  }

  .filter-row:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .filter-row select,
  .filter-row input {
    width: 100%;
  }
}
